body{
    background-color: rgba(255, 192, 203, 0.78);
}
header{
    background-image: url("../img/istockphoto-1311429608-170667a.jpg");
    width: 100%;
    height: 660px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
ul{
    display: flex;

}
li{
    list-style-type: none;
    padding: 30px;
}
.titre{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    margin-left: 0px;

   

}
h1{
   text-align: center;
   font-size: 40px;
   color: rgb(116, 12, 12);
   margin-left: 0;
}
.titre h1{
     text-align: center;
   font-size: 40px;
   color: rgb(116, 12, 12);
   margin-left: 20px;

}

.invisible{
    width: 300px;
}
a{
    text-decoration: none;
    color: blueviolet;
    font-weight: bolder;
    font-size: 25px;
}
nav a{
    color: rgb(171, 24, 139);
}
.container{
   width: 50%;
    
}
label{
    font-weight: bolder;
    font-size: 20px;
    color: blueviolet;
}
input{
    width: 40%;
    padding: 6px;
    border-radius: 10px;
}
button{
    margin-top: 30px;
    color: red;
    padding: 10px;
    margin-left: 33%;
}
section{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 30px;
   
}
section h2{
    margin-left: 40px;
}
.accouchement{
    width: 612px;
    height: 398px;
}
table,th,tr,td{
    border: 2px solid black;
    border-collapse:collapse;
    padding: 20px;
}
.contacte{
    color: red;
    font-size: 20px;
}
table{
    margin: auto;
    
}
.grossesse{
    background-color: rgb(238, 219, 219);
    width: 100%;
   
}

.grossesse h1{
    color: red;
    text-align: left;
}
.grossesse h4{
    font-size: 25px;
}
.destroy h1{
    text-align: center;
}
.destroy{
    display: flex;
    justify-content: space-around;
}
.goodbye img{
   margin-left: 30%;
}
.accouch h3{
    color: blueviolet;
    font-size: 33px;
}
.accouch  h4{
    font-size: 25px;
}
.fin{
    display: flex;
     justify-content: space-around;
  
}
footer{
    margin-top: 30px;
    border: 2px solid purple;
}
.fin p{
    font-weight: bolder;
    font-size: 25px;
}
.fin h3{
    color: rgb(191, 66, 107);
    font-size: 30px;
}
.fin>div{
    margin-left: 30px;
}
.traçage{
    color: purple;
    border: 1px solid;
   
}
.traçage2{
    color: purple;
    border: 1px solid;
   
}
.commun{
   margin: auto;
}
.commun_image{
    margin-left: 30%;
}
.commun2 h2{
    color: rgb(180, 25, 25);
    font-size: 28px;
}
.commun2 h4{
    font-size: 25px;
}
.add input{
    width: 400px;
    padding: 15px;
    margin-top: 10px;

   
}
.add{
    display: block;
}
.add button{
    margin-left: 18%;
}
.ajouter{
    text-align: left;
    font-size: 30px;
}
.add label{
      text-align: left;
    font-size: 30px;
}